<div class='title'>
  <hr />
  <h1>Разметка</h1>
  <hr />
</div>

<div class='white_container round text'>
<p>Для оформления текста новостей, описания файлов, тестов, а также в личных сообщениях можно использовать разметку
<%= link_to "textile", "http://en.wikipedia.org/wiki/Textile_%28markup_language%29" %>.<br />
Некоторые тэги перечислены ниже, полное описание можно найти
<%= link_to "здесь", "http://redcloth.org/textile/" %>.<br />
Символ ↵ означает перевод строки (нажатие клавиши "enter"), соответственно два символа ↵↵ означают, что необходимо пропустить одну строку.
</p>

<hr class='clear' />

<h2>Текстовые атрибуты:</h2>
<p>**Жирный текст** → <b>Жирный текст</b></p>
<p>__Курсивный текст__ → <i>Курсивный текст</i></p>
<p>@Моноширинный текст@ → <code>Моноширинный текст</code></p>
<p>+Подчёркнутый текст+  → <u>Подчеркнутый текст</u></p>
<p>-Зачёркнутый текст-  → <del>Зачёркнутый текст</del></p>

<hr class='clear' />

<h2>Ссылки:</h2>

<p>"Пример ссылки":http://example.com → <a href="http://example.com">Пример ссылки</a></p>

<hr class='clear' />

<h2>Списки:</h2>

<p>Простой список:</p>
* Первый элемент<br>
* Второй элемент ↵↵
<p>
<ul>
  <li>Первый элемент</li>
  <li>Второй элемент</li>
</ul>
</p>

<p>Нумерованный список:</p>
# Первый элемент<br>
# Второй элемент ↵↵
<p>
<ol>
  <li>Первый элемент</li>
  <li>Второй элемент</li>
</ol>
</p>

<p>Могут быть и вложенными:</p>
# Уровень 1<br>
## Уровень 2<br>
### Уровень 3 ↵↵<br>
<p>
<ol>
  <li>Уровень 1
    <ol>
      <li>Уровень 2
        <ol>
          <li>Уровень 3</li>
        </ol>
      </li>
    </ol>
  </li>
</ol>
</p>

<hr class='clear' />

<h2>Цитаты:</h2>
<p>??Однострочная цитата?? → <cite>Однострочная цитата</cite></p>
↵↵
<p>bq. Многострочная<br>цитата
↵↵
<p><blockquote><p>Многострочная<br>цитата</p></blockquote></p>

<hr class='clear' />

<h2>Заголовки:</h2>
↵↵
<p>h1. Очень большой заголовок ↵↵</p>
<p><h1>Очень большой заголовок</h1></p>
↵↵
<p>h2. Большой заголовок ↵↵</p>
<p><h2>Большой заголовок</h2></p>
↵↵
<p>h3. Заголовок ↵↵</p>
<p><h3>Заголовок</h3></p>

<hr class='clear' />

<h2>Изображения:</h2>
<p>!http://stepina.heroku.com/chen.png!</p>
<p><img alt="" style="height:100px;width:80px;" src="/chen.png"></p>
<p>Если изображение слишком большое, его можно визуально уменьшить, указав высоту и ширину в пикселях.</p>
<p>!{height:200px;width:170px;}http://stepina.heroku.com/chen.png!</p>
<p><img alt="" style="height:200px;width:170px;" src="/chen.jpg"></p>

</div>
