.bundle
.rspec
.DS_Store
.sass-cache/
.idea/
.redcar/
.project
db/*.sqlite3
log/*.log
vendor/assets/*
vendor/bundle/*
vendor/cache/*
tmp/
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*~
TODO
app/controllers/.idea/
config/initializers/faye_token.rb
public/uploads/*
public/assets/*
public/passenger.3000.log
public/passenger.3000.pid.lock
