<!--<div class='title'>
  <hr />
  <h1><%= link_to "Контакты", contacts_path %> | О сайте</h1>
  <hr />
</div>-->

<div class='white_container round'>
  <div class='text'>
    <p>
      Сайт создан студентами <%= link_to "Колледжа Предпринимательства №11", "http://kp11.ru" %>
      для обеспечения возможности удаленного обучения, контроля знаний и обратной связи с преподавателями.
      <br />
      Техническая поддержка сайта: <%= mail_to 'stepina-support@yandex.ru' %>
    </p>
  </div>
</div>