<div class='title'>
  <hr />
    <h1>Контакты<!-- | <%= link_to "О сайте", about_path %>--></h1>
  <hr />
</div>

<div class='white_container round'>
  <div class='text'>
    <div class='clear'>
      <b style='font-size: 110%'>Стёпина Вера Владимировна</b>
      <hr />
    </div>
    Преподаватель кафедры информационных технологий.
    <br />
    Преподаватель по дисциплинам:
    <ul>
      <li>Электронная техника</li>
      <li>Цифровая схематехника</li>
      <li>Электротехнические измерения</li>
      <li>Операционные системы и среды</li>
      <li>Технические средства информатизации</li>
      <li>Архитектура ЭВМ и вычислительных систем</li>
    </ul>
    Электронная почта: <%= mail_to 'test@mail.ru' %>
    <br />
  </div>
</div>

<%= render :template => 'home/about' %>
