<%= form_for(@subject) do |f| %>
  <div class="field">
    <%= f.label "Предмет" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
