<div class='white_container round'>
  <%= render 'form' %>
  <div class='box'>
    <%= link_to 'Показать', @survey %>
  </div>
  <div class='box'>
    <%= link_to 'Назад', surveys_path %>
  </div>
</div>
