<div class='title'>
  <hr />
  <h1>Войти</h1>
  <hr />
</div>

<div class='white_container round'>
  <%= render 'form' %>
</div>

<div class='title'>
  <hr />
  <h1>Забыли пароль?</h1>
  <hr />
</div>

<div class='white_container round'>
  <%= render 'forgot_password_form' %>
  <div class='box'>
    <%= link_to 'Отмена', index_path %>
  </div>
</div>